---
// import Facebook from "@icons/Facebook.astro";
// import Instagram from "@icons/Instagram.astro";
// import Mail from "@icons/Mail.astro";
import './../styles/style.css';
---

<footer
  class="bleu p-4 text-white"
  transition:animate="none"
>
  <div
    class="container mx-auto flex flex-col gap-4 px-4 py-8 md:grid md:grid-cols-[repeat(3,_1fr)_auto]"
  >
    <!-- <div>
      <h4 class="mb-4 mt-0 font-semibold">Réseaux sociaux</h4>
      <ul class="flex flex-col gap-2">
        <li>
          <a
            class="inline-flex items-center gap-2 underline duration-150 hover:translate-x-2 hover:opacity-80"
            href="https://www.instagram.com/fede_fpms/"
          >
            <Instagram />
            Instagram
          </a>
        </li>
        <li>
          <a
            class="inline-flex items-center gap-2 underline duration-150 hover:translate-x-2 hover:opacity-80"
            href="https://www.facebook.com/fede.fpms"
          >
            <Facebook />
            Page Facebook
          </a>
        </li>
        <li>
          <a
            class="inline-flex items-center gap-2 underline duration-150 hover:translate-x-2 hover:opacity-80"
            href="https://www.facebook.com/groups/12209585370"
          >
            <Facebook />
            Groupe Facebook
          </a>
        </li>
        <li>
          <a
            class="inline-flex items-center gap-2 underline duration-150 hover:translate-x-2 hover:opacity-80"
            href="mailto:fede.polytech@umons.ac.be"
          >
            <Mail />
            fede.polytech@umons.ac.be
          </a>
        </li>
      </ul>
    </div>
    <div class="h-[2px] rounded-full bg-white md:hidden"></div> -->
    
    <div>
      <h4 class="mb-4 mt-0 font-semibold">Comité CAP</h4>
      <ul>
        <li>Justin Duyckaerts</li>
        <li>Tom Boreux</li>
      </ul>
    </div>

    <div>
      <h4 class="mb-4 mt-0 font-semibold">© Site développé par</h4>
      <ul class="flex flex-col gap-2">
        <li>Florian Lefebvre</li>
        <li>Théau Pauwels</li>
      </ul>
    </div>
    <div class="h-[2px] rounded-full bg-white md:hidden"></div>

    <div>
      <h4 class="mb-4 mt-0 font-semibold">Avec l'aide de </h4>
      <ul class="flex flex-col gap-2">
        <li>Kevin Dubrulle</li>
        <li>Hugo Lorenzoni</li>
      </ul>
    </div>
    <div class="h-[2px] rounded-full bg-white md:hidden"></div>

    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="30%" viewBox="0 0 398 398" enable-background="new 0 0 398 398" xml:space="preserve">
    <path fill="#CC340E" opacity="1.000000" stroke="none" 
      d="
    M399.000000,146.000000 
      C399.000000,230.276535 399.000000,314.553070 399.000000,399.000000 
      C266.979156,399.000000 134.958237,399.000000 2.469699,398.531372 
      C2.001263,394.249878 2.129519,390.431427 1.965076,386.625671 
      C1.782968,382.411072 1.333206,378.208069 1.000000,374.000000 
      C1.000000,370.969391 1.000000,367.938812 1.275652,364.193542 
      C1.367537,361.319275 1.183769,359.159637 1.000000,357.000000 
      C1.000000,238.333328 1.000000,119.666664 1.000000,1.000000 
      C4.717501,1.000000 8.379575,1.000000 12.819739,1.291056 
      C27.504698,1.700896 41.411510,1.830743 55.318626,1.898196 
      C55.877621,1.900908 56.439476,1.312821 57.000000,1.000000 
      C57.750000,1.000000 58.500000,1.000000 59.920841,1.294892 
      C61.234386,1.723944 61.876991,1.974898 62.519806,1.975424 
      C87.784683,1.996100 113.049606,2.007939 138.314377,1.952586 
      C139.543610,1.949893 140.771484,1.331621 142.000000,1.000001 
      C227.020889,1.000000 312.041779,1.000000 397.532959,1.468655 
      C398.003601,48.061737 397.992065,94.186180 398.046326,140.310547 
      C398.048553,142.207397 398.668091,144.103531 399.000000,146.000000 
    M80.973053,339.994232 
      C80.973053,339.994232 80.930412,340.072327 81.247520,340.592804 
      C81.785889,340.871552 82.324249,341.150299 83.259399,341.956604 
      C86.330856,344.036163 89.402321,346.115723 92.827660,348.694611 
      C93.180573,348.889771 93.533485,349.084900 94.255455,349.767090 
      C94.954376,350.163300 95.653297,350.559540 96.364342,351.243835 
      C96.364342,351.243835 96.582657,351.424683 96.582657,351.424683 
      C96.582657,351.424683 96.842087,351.310425 97.462029,351.755188 
      C100.286201,353.293243 103.110374,354.831299 106.363098,356.800720 
      C107.122101,357.084778 107.881104,357.368805 108.865631,357.954987 
      C109.075027,358.118042 109.311768,358.186523 109.939255,358.608582 
      C110.284103,358.763245 110.628952,358.917877 111.293831,359.494171 
      C111.612427,359.633667 111.931023,359.773163 112.598076,360.419952 
      C113.374107,360.686737 114.150131,360.953522 115.357536,361.682770 
      C116.729355,362.186371 118.101181,362.689972 119.840317,363.680878 
      C120.199547,363.860535 120.558777,364.040192 121.398155,364.699677 
      C122.892242,365.241028 124.386330,365.782379 126.318207,366.748322 
      C127.263260,367.122589 128.208313,367.496857 129.537003,368.386810 
      C130.361694,368.557007 131.186371,368.727203 132.613464,369.279449 
      C134.430893,369.786865 136.248322,370.294312 138.410522,371.278259 
      C138.960419,371.317322 139.510315,371.356354 140.778915,371.741852 
      C142.865982,372.125580 144.953049,372.509308 147.504395,373.365051 
      C148.354294,373.365356 149.204178,373.365662 150.836075,373.670990 
      C152.232056,373.758270 153.628052,373.845551 155.317627,374.316284 
      C155.889252,374.251312 156.460892,374.186371 157.765015,374.308044 
      C159.519241,374.514038 161.273483,374.720032 163.525070,375.363586 
      C164.366760,375.297821 165.208435,375.232086 166.862671,375.492798 
      C168.918686,375.636353 170.974686,375.779907 173.552246,376.405579 
      C174.719604,376.394135 175.886978,376.382660 177.856216,376.689758 
      C179.584335,376.760498 181.312469,376.831238 183.636581,377.391876 
      C185.771973,377.408844 187.907379,377.425812 190.930588,377.717316 
      C195.958923,377.796722 200.987244,377.876129 206.331863,378.307251 
      C206.883240,378.192596 207.434616,378.077942 208.919861,378.072937 
      C216.265244,377.877716 223.610641,377.682465 231.779800,377.746094 
      C234.174591,377.473663 236.569366,377.201233 239.799149,376.989716 
      C241.167725,376.800232 242.536301,376.610718 244.620712,376.716125 
      C245.840363,376.213959 247.060013,375.711792 248.693008,374.465393 
      C248.540253,352.325500 248.387497,330.185577 248.644196,307.336243 
      C248.704910,306.843323 248.819168,306.350372 248.818695,305.857513 
      C248.777969,263.850067 248.734879,221.842621 248.648026,179.835266 
      C248.645401,178.568649 248.178207,177.302979 247.989059,175.273880 
      C247.758636,173.531693 247.528229,171.789490 247.675537,169.569977 
      C247.092041,168.816132 246.508545,168.062286 245.298279,167.113403 
      C244.862137,167.111481 244.425980,167.109558 243.262604,166.744080 
      C240.142105,166.697952 237.021606,166.651825 233.023590,166.339233 
      C228.671936,166.247742 224.320267,166.156265 219.316132,165.581848 
      C201.269424,165.467880 183.222748,165.340729 165.175873,165.271347 
      C164.043884,165.266998 162.720505,165.427704 161.822906,166.021042 
      C160.563843,166.853348 158.767822,168.113144 158.698654,169.278946 
      C158.468811,173.153046 158.908386,177.066849 159.005783,181.895264 
      C159.201462,185.898987 159.397125,189.902695 159.266724,194.791367 
      C159.521652,198.855179 159.776596,202.918991 159.962112,207.663666 
      C159.996948,208.117661 160.031769,208.571640 159.661163,209.421204 
      C159.801941,210.270935 159.942719,211.120682 159.990112,212.733917 
      C160.019577,213.501175 160.049042,214.268417 159.602264,215.652252 
      C159.742523,219.100677 159.882797,222.549088 159.986328,226.681046 
      C160.135605,227.107010 160.284882,227.532959 160.667358,228.562149 
      C162.785187,228.737900 164.903000,228.913635 167.816971,229.193573 
      C172.872192,229.149185 177.927399,229.104797 183.646393,229.457687 
      C192.304047,230.045746 192.410233,229.951324 192.097885,221.525101 
      C192.067429,220.703857 191.910324,219.887299 191.899078,218.199982 
      C191.693741,217.066864 191.488419,215.933731 191.448822,214.501022 
      C191.399429,214.249725 191.252884,214.084030 190.941849,213.305527 
      C188.025574,211.199768 185.109299,209.094009 182.172455,206.484039 
      C182.110947,206.327484 182.049423,206.170929 182.053574,205.333450 
      C182.016220,204.879761 181.978882,204.426086 182.356277,203.587967 
      C182.445419,203.051529 182.534546,202.515076 183.002625,201.363235 
      C184.710800,200.046127 186.418991,198.729034 188.473709,197.508789 
      C188.727295,197.421844 188.880020,197.246658 189.483002,196.903412 
      C189.650406,196.823273 189.817825,196.743118 190.626511,196.787048 
      C191.412201,196.513214 192.197876,196.239380 193.910339,195.983261 
      C198.354446,196.293259 202.798538,196.603256 207.584152,197.426956 
      C208.365646,197.676620 209.147156,197.926270 210.355698,198.675140 
      C213.124817,201.822906 215.893936,204.970673 218.889404,208.708374 
      C219.191620,208.992844 219.493835,209.277313 219.613922,209.735214 
      C219.613922,209.735214 219.709457,209.967865 219.759995,210.671814 
      C220.102234,211.274979 220.444473,211.878143 220.702011,212.744308 
      C220.702011,212.744308 220.847672,212.979065 220.882843,213.702393 
      C221.261246,214.797012 221.639633,215.891632 221.950592,217.922867 
      C221.953644,223.945389 221.956696,229.967926 221.560913,236.395889 
      C221.534943,236.937881 221.508987,237.479874 221.215271,238.667862 
      C221.192444,239.131134 221.169601,239.594391 220.640793,240.577820 
      C220.318100,242.019882 219.995407,243.461945 219.280319,245.395096 
      C219.101334,246.419830 218.922348,247.444580 218.216400,248.816956 
      C217.916824,249.549622 217.617249,250.282272 217.039902,251.518692 
      C216.977448,251.894333 216.915009,252.269989 216.437698,252.995819 
      C216.295746,253.321732 216.153793,253.647644 215.499771,254.386322 
      C214.279297,256.454773 213.058823,258.523193 211.370056,260.932251 
      C211.174866,261.260162 210.979660,261.588074 210.302643,262.152283 
      C209.834686,262.684143 209.366714,263.216034 208.361679,263.985931 
      C208.097015,264.271942 207.832352,264.557983 206.915039,265.007507 
      C203.219513,266.877106 199.710236,269.682129 195.797562,270.461243 
      C173.941986,274.813049 154.041367,271.061096 137.851578,254.579330 
      C127.640625,244.184265 120.652710,231.749405 116.072983,217.988693 
      C111.249580,203.495758 110.804497,189.038437 116.421173,174.508362 
      C120.407135,164.196854 126.332932,155.195419 134.141693,147.604080 
      C140.901215,141.032761 147.614822,133.679855 155.784332,129.436066 
      C177.129959,118.347717 200.364639,114.121941 224.409302,115.869667 
      C253.431152,117.979172 276.186615,131.907501 291.868622,155.866653 
      C304.083862,174.529282 306.310333,196.312180 303.383484,217.983353 
      C301.552185,231.542679 297.349121,244.883102 293.202942,258.003418 
      C287.665558,275.526062 278.003662,290.918945 265.534271,304.368958 
      C262.960510,307.145111 262.839966,308.528625 264.878326,311.340607 
      C272.198883,321.439392 279.554260,331.530457 286.395813,341.953094 
      C291.483795,349.704224 291.029633,349.669220 299.855103,344.182678 
      C300.416595,343.833557 300.894958,343.351471 301.415466,342.935608 
      C317.016846,330.470032 328.561768,314.673492 338.421661,297.548889 
      C360.994598,258.344330 371.027435,216.278015 366.932800,171.051239 
      C365.423370,154.378784 359.882965,138.705200 352.049286,124.303131 
      C342.402588,106.567810 329.339691,91.051750 314.034454,77.711525 
      C295.174194,61.272736 274.158691,48.058792 250.568085,39.739727 
      C237.307999,35.063652 223.413193,32.801853 208.915756,33.577610 
      C192.763855,34.441898 176.796814,35.301502 160.935196,39.019901 
      C126.774025,47.028225 96.926247,62.839092 72.946381,88.340042 
      C62.555851,99.389656 54.185936,112.473701 45.821613,125.238716 
      C41.514423,131.812012 39.232460,139.712372 35.829922,147.441391 
      C35.829922,147.441391 35.790550,147.914795 35.393597,148.362228 
      C35.270859,148.939423 35.148117,149.516602 34.737007,150.233398 
      C34.537849,150.423218 34.543720,150.606262 34.417103,151.496338 
      C34.335548,152.013260 34.253994,152.530167 33.922131,153.644760 
      C33.886711,154.073959 33.851292,154.503159 33.417923,155.389282 
      C33.295387,155.974091 33.172852,156.558884 32.741711,157.283951 
      C32.694069,157.387650 32.585697,157.509949 32.610634,157.591431 
      C32.674824,157.801239 32.798050,157.992996 32.645626,158.873535 
      C32.086109,161.554855 31.526592,164.236160 30.673357,167.148041 
      C30.473673,167.369049 30.468699,167.594147 30.349272,168.521759 
      C30.286114,169.023834 30.222956,169.525894 29.980125,170.492096 
      C29.980125,170.492096 30.009834,170.988907 29.776867,171.734726 
      C29.203083,174.831848 28.629297,177.928955 27.639692,181.414261 
      C27.616020,181.951797 27.592346,182.489334 27.262566,183.736755 
      C27.209291,184.504608 27.156017,185.272446 26.678947,186.420151 
      C26.656561,186.955643 26.634174,187.491135 26.259356,188.804398 
      C25.847815,192.209076 25.436274,195.613739 24.595463,199.609543 
      C24.649384,201.073242 24.703302,202.536942 24.417337,204.782791 
      C24.436312,206.185654 24.455284,207.588516 24.251064,209.855453 
      C24.430737,212.929474 24.610409,216.003494 24.703604,219.969147 
      C24.733480,222.956955 24.763357,225.944778 24.465498,229.392960 
      C24.636881,230.262634 24.808264,231.132294 24.896437,232.895950 
      C25.125881,235.257568 25.355328,237.619171 25.332870,240.590179 
      C25.579590,241.382385 25.826307,242.174606 26.030931,243.739456 
      C26.215078,244.482803 26.399225,245.226135 26.376930,246.500412 
      C26.609528,246.989838 26.842125,247.479279 27.031179,248.742325 
      C27.212132,249.487137 27.393084,250.231964 27.364725,251.505753 
      C27.582096,252.000107 27.799467,252.494461 27.996317,253.757614 
      C28.183805,254.496109 28.371294,255.234604 28.358809,256.509552 
      C28.607635,256.991058 28.856462,257.472595 29.082024,258.739380 
      C29.309010,259.480347 29.535995,260.221283 29.661650,261.477661 
      C30.022381,261.845581 30.383112,262.213470 30.654348,263.064697 
      C30.680143,263.397003 30.774900,263.708344 30.917374,264.719055 
      C31.294422,265.805084 31.671471,266.891144 32.049168,268.701508 
      C32.645267,270.487976 33.241367,272.274445 33.963444,274.665070 
      C34.236038,274.962402 34.508633,275.259735 34.623158,276.037476 
      C34.724041,276.355286 34.824924,276.673065 35.048042,277.579193 
      C35.306931,277.879639 35.565819,278.180054 35.797604,279.155701 
      C36.739990,281.148529 37.682377,283.141357 38.867764,285.720673 
      C39.174149,286.002228 39.480537,286.283813 39.693012,287.200134 
      C40.334545,288.521881 40.976074,289.843658 41.725872,291.608093 
      C41.725872,291.608093 41.967102,291.994751 42.057503,292.720001 
      C43.624935,295.878876 45.192368,299.037720 46.586704,302.341858 
      C46.586704,302.341858 46.924503,302.439697 47.301163,302.968994 
      C47.842426,303.644470 48.383690,304.319946 49.056740,305.576691 
      C49.315166,305.874786 49.573589,306.172913 49.866673,306.966400 
      C50.172951,307.338257 50.479225,307.710114 50.995708,308.644409 
      C51.273827,308.928345 51.551945,309.212280 51.843857,309.989075 
      C52.145897,310.357849 52.447937,310.726593 52.986130,311.634613 
      C53.271748,311.900970 53.557369,312.167328 53.962704,313.016235 
      C54.861633,314.057739 55.760563,315.099274 56.967567,316.673767 
      C57.316151,316.872131 57.664734,317.070465 58.076595,317.620605 
      C58.182194,317.856598 58.360638,318.004761 58.681450,318.765350 
      C59.387798,319.653534 60.094147,320.541687 60.988346,322.030914 
      C62.307480,323.370331 63.626610,324.709747 65.090614,326.662445 
      C66.037651,327.481049 66.984695,328.299652 68.207260,329.669922 
      C69.146133,330.444275 70.085014,331.218628 71.279144,332.591980 
      C72.448441,333.546326 73.617737,334.500641 75.165672,335.934998 
      C75.639191,336.320679 76.112709,336.706360 76.499619,337.300751 
      C76.499619,337.300751 76.840202,337.293701 77.328568,337.785980 
      C78.124123,338.231812 78.919678,338.677673 80.005905,339.582886 
      C80.320686,339.748199 80.635468,339.913544 80.973053,339.994232 
    z"/>
    <path fill="#B8371B" opacity="1.000000" stroke="none" 
      d="
    M399.000000,145.531342 
      C398.668091,144.103531 398.048553,142.207397 398.046326,140.310547 
      C397.992065,94.186180 398.003601,48.061737 398.001648,1.468656 
      C398.333344,2.328324 398.956635,3.656337 398.958069,4.985018 
      C399.008240,51.677536 399.000000,98.370110 399.000000,145.531342 
    z"/>
    <path fill="#B83818" opacity="1.000000" stroke="none" 
      d="
    M141.531342,1.000001 
      C140.771484,1.331621 139.543610,1.949893 138.314377,1.952586 
      C113.049606,2.007939 87.784683,1.996100 62.519806,1.975424 
      C61.876991,1.974898 61.234386,1.723944 60.295841,1.294892 
      C87.020897,1.000000 114.041786,1.000000 141.531342,1.000001 
    z"/>
    <path fill="#B83818" opacity="1.000000" stroke="none" 
      d="
    M56.531342,1.000000 
      C56.439476,1.312821 55.877621,1.900908 55.318626,1.898196 
      C41.411510,1.830743 27.504698,1.700896 13.298915,1.291056 
      C27.354227,1.000000 41.708454,1.000000 56.531342,1.000000 
    z"/>
    <path fill="#C33717" opacity="1.000000" stroke="none" 
      d="
    M1.000000,374.468689 
      C1.333206,378.208069 1.782968,382.411072 1.965076,386.625671 
      C2.129519,390.431427 2.001263,394.249878 2.001040,398.531372 
      C1.666662,398.350494 1.049511,397.703613 1.043441,397.051056 
      C0.974873,389.680328 1.000000,382.308716 1.000000,374.468689 
    z"/>
    <path fill="#C33717" opacity="1.000000" stroke="none" 
      d="
    M1.000000,357.437500 
      C1.183769,359.159637 1.367537,361.319275 1.275652,363.739441 
      C1.000000,361.958344 1.000000,359.916656 1.000000,357.437500 
    z"/>
    <path fill="#1F1111" opacity="1.000000" stroke="none" 
      d="
    M50.785507,308.081940 
      C50.479225,307.710114 50.172951,307.338257 49.811638,306.410461 
      C49.479382,305.568146 49.202168,305.281799 48.924957,304.995422 
      C48.383690,304.319946 47.842426,303.644470 47.084610,302.667572 
      C46.868057,302.366150 46.759804,302.196594 46.759804,302.196594 
      C45.192368,299.037720 43.624935,295.878876 42.178177,292.245026 
      C42.071770,291.568512 41.844692,291.366943 41.617607,291.165405 
      C40.976074,289.843658 40.334545,288.521881 39.683121,286.547974 
      C39.323742,285.641907 38.974251,285.388062 38.624763,285.134186 
      C37.682377,283.141357 36.739990,281.148529 35.776146,278.508179 
      C35.478397,277.570709 35.202106,277.280792 34.925812,276.990875 
      C34.824924,276.673065 34.724041,276.355286 34.667767,275.479004 
      C34.420742,274.634003 34.129108,274.347443 33.837471,274.060913 
      C33.241367,272.274445 32.645267,270.487976 32.274727,268.149353 
      C31.979729,266.397705 31.459171,265.198181 30.938616,263.998657 
      C30.774900,263.708344 30.680143,263.397003 30.712019,262.554504 
      C30.434122,261.683594 30.098553,261.322937 29.762981,260.962250 
      C29.535995,260.221283 29.309010,259.480347 29.286953,258.198334 
      C29.180851,257.095886 28.869820,256.534485 28.558786,255.973099 
      C28.371294,255.234604 28.183805,254.496109 28.211731,253.231171 
      C28.142778,252.128738 27.858408,251.552765 27.574038,250.976776 
      C27.393084,250.231964 27.212132,249.487137 27.249504,248.209946 
      C27.173012,247.108200 26.878195,246.538849 26.583374,245.969482 
      C26.399225,245.226135 26.215078,244.482803 26.274792,243.171097 
      C26.207357,241.728760 25.896067,240.854767 25.584774,239.980789 
      C25.355328,237.619171 25.125881,235.257568 25.190208,232.251526 
      C25.253733,230.715591 25.023481,229.824081 24.793232,228.932587 
      C24.763357,225.944778 24.733480,222.956955 25.065437,219.254700 
      C25.109600,215.357300 24.791929,212.174332 24.474258,208.991379 
      C24.455284,207.588516 24.436312,206.185654 24.847727,204.242554 
      C25.193655,202.141022 25.109194,200.579727 25.024733,199.018417 
      C25.436274,195.613739 25.847815,192.209076 26.655880,188.339813 
      C27.069185,187.263580 27.085962,186.651947 27.102743,186.040298 
      C27.156017,185.272446 27.209291,184.504608 27.642689,183.307938 
      C28.033714,182.261444 28.044615,181.643753 28.055515,181.026077 
      C28.629297,177.928955 29.203083,174.831848 30.051468,171.288483 
      C30.394804,170.750443 30.541445,170.622406 30.518576,170.573288 
      C30.427731,170.378143 30.283960,170.207611 30.159798,170.027969 
      C30.222956,169.525894 30.286114,169.023834 30.587824,168.037720 
      C30.925913,167.353287 30.972813,167.141220 30.967072,166.917480 
      C31.526592,164.236160 32.086109,161.554855 32.822174,158.271698 
      C33.015919,157.494461 33.033115,157.319077 33.050316,157.143692 
      C33.172852,156.558884 33.295387,155.974091 33.861847,155.065582 
      C34.261330,154.176956 34.216885,153.612030 34.172440,153.047089 
      C34.253994,152.530167 34.335548,152.013260 34.642929,151.033203 
      C34.946335,150.419662 34.998539,150.260910 35.025379,150.093796 
      C35.148117,149.516602 35.270859,148.939423 35.781799,148.101776 
      C36.263451,147.756927 36.449764,147.622055 36.435646,147.596069 
      C36.323730,147.390045 36.173691,147.204742 36.035362,147.013062 
      C39.232460,139.712372 41.514423,131.812012 45.821613,125.238716 
      C54.185936,112.473701 62.555851,99.389656 72.946381,88.340042 
      C96.926247,62.839092 126.774025,47.028225 160.935196,39.019901 
      C176.796814,35.301502 192.763855,34.441898 208.915756,33.577610 
      C223.413193,32.801853 237.307999,35.063652 250.568085,39.739727 
      C274.158691,48.058792 295.174194,61.272736 314.034454,77.711525 
      C329.339691,91.051750 342.402588,106.567810 352.049286,124.303131 
      C359.882965,138.705200 365.423370,154.378784 366.932800,171.051239 
      C371.027435,216.278015 360.994598,258.344330 338.421661,297.548889 
      C328.561768,314.673492 317.016846,330.470032 301.415466,342.935608 
      C300.894958,343.351471 300.416595,343.833557 299.855103,344.182678 
      C291.029633,349.669220 291.483795,349.704224 286.395813,341.953094 
      C279.554260,331.530457 272.198883,321.439392 264.878326,311.340607 
      C262.839966,308.528625 262.960510,307.145111 265.534271,304.368958 
      C278.003662,290.918945 287.665558,275.526062 293.202942,258.003418 
      C297.349121,244.883102 301.552185,231.542679 303.383484,217.983353 
      C306.310333,196.312180 304.083862,174.529282 291.868622,155.866653 
      C276.186615,131.907501 253.431152,117.979172 224.409302,115.869667 
      C200.364639,114.121941 177.129959,118.347717 155.784332,129.436066 
      C147.614822,133.679855 140.901215,141.032761 134.141693,147.604080 
      C126.332932,155.195419 120.407135,164.196854 116.421173,174.508362 
      C110.804497,189.038437 111.249580,203.495758 116.072983,217.988693 
      C120.652710,231.749405 127.640625,244.184265 137.851578,254.579330 
      C154.041367,271.061096 173.941986,274.813049 195.797562,270.461243 
      C199.710236,269.682129 203.219513,266.877106 207.552399,264.867157 
      C208.426086,264.400513 208.662430,264.074219 208.898758,263.747925 
      C209.366714,263.216034 209.834686,262.684143 210.827484,261.917175 
      C211.514328,261.318604 211.676346,260.955109 211.838348,260.591644 
      C213.058823,258.523193 214.279297,256.454773 215.990677,254.030960 
      C216.605240,253.332275 216.728912,252.988953 216.852570,252.645630 
      C216.915009,252.269989 216.977448,251.894333 217.494873,251.170380 
      C218.214340,250.037827 218.478836,249.253571 218.743347,248.469315 
      C218.922348,247.444580 219.101334,246.419830 219.785004,245.018799 
      C220.575378,243.114227 220.861084,241.585938 221.146759,240.057663 
      C221.169601,239.594391 221.192444,239.131134 221.590271,238.276276 
      C221.963440,237.253281 221.961594,236.621857 221.959763,235.990448 
      C221.956696,229.967926 221.953644,223.945389 222.217163,217.265137 
      C221.938385,215.397949 221.393036,214.188507 220.847672,212.979065 
      C220.847672,212.979065 220.702011,212.744308 220.779343,212.234924 
      C220.474274,211.139648 220.091858,210.553757 219.709457,209.967865 
      C219.709457,209.967865 219.613922,209.735214 219.650299,209.316071 
      C219.345459,208.637436 219.004242,208.377930 218.663040,208.118439 
      C215.893936,204.970673 213.124817,201.822906 209.995667,198.140594 
      C208.837982,197.375122 208.040314,197.144196 207.242645,196.913269 
      C202.798538,196.603256 198.354446,196.293259 193.256607,195.740540 
      C191.730331,195.886200 190.857788,196.274567 189.985245,196.662933 
      C189.817825,196.743118 189.650406,196.823273 189.057800,196.986084 
      C188.440094,197.147766 188.271622,197.262161 188.127167,197.411926 
      C186.418991,198.729034 184.710800,200.046127 182.565079,201.726685 
      C182.065521,202.717545 182.003525,203.344971 181.941528,203.972397 
      C181.978882,204.426086 182.016220,204.879761 181.856598,205.777924 
      C181.837418,206.477661 182.015213,206.732956 182.193024,206.988235 
      C185.109299,209.094009 188.025574,211.199768 190.994995,213.797058 
      C191.098877,214.471939 191.177185,214.642609 191.283081,214.800613 
      C191.488419,215.933731 191.693741,217.066864 191.613281,218.936462 
      C191.222061,221.478043 191.450485,223.394531 190.897995,225.050491 
      C190.506699,226.223251 189.059418,227.043686 187.971619,227.780334 
      C187.586075,227.088226 187.312393,226.637192 187.248825,225.750549 
      C187.521179,224.320496 187.612579,223.326874 187.640640,222.331467 
      C187.767609,217.826813 187.888992,214.067291 181.975052,212.069855 
      C176.226685,210.128326 176.156403,202.703995 181.004974,197.941406 
      C192.234116,186.911407 215.705643,191.561661 222.444763,206.014542 
      C227.096298,215.990280 226.977448,226.445953 225.663467,236.902939 
      C222.246170,264.098358 202.483490,279.304382 175.357437,276.158478 
      C154.433395,273.731873 137.459839,264.994080 125.241119,247.199677 
      C112.589241,228.774521 105.574135,208.937363 108.891052,186.543716 
      C111.912292,166.146255 123.572304,149.818756 138.367767,136.756821 
      C165.201538,113.067047 198.099792,106.115181 232.319275,112.455620 
      C282.713593,121.793068 308.181061,155.489471 308.853729,206.772141 
      C309.164246,230.447342 301.479187,252.356155 291.534027,273.414581 
      C285.502869,286.185211 278.203644,298.330505 268.336731,308.719116 
      C276.124756,320.004822 283.953064,331.348907 291.878693,342.834045 
      C292.517120,342.630005 293.185211,342.530579 293.730560,342.217407 
      C294.734894,341.640656 295.701782,340.983826 296.624115,340.281403 
      C309.865631,330.196930 320.901611,318.204102 329.660492,303.942200 
      C353.229492,265.565277 366.870209,224.610275 364.092224,178.956985 
      C363.008392,161.144760 358.642273,144.039658 349.895782,128.922043 
      C333.346008,100.317024 311.555054,76.162369 282.462341,59.440258 
      C265.185913,49.510006 247.237305,40.931763 227.265686,38.471420 
      C207.958130,36.092880 188.596313,38.416191 169.578857,41.615311 
      C149.619797,44.972824 131.139908,52.896519 113.151054,62.394257 
      C89.096939,75.094330 70.957672,93.603752 56.880608,116.277962 
      C50.162987,127.098152 43.594315,138.419189 39.524513,150.386139 
      C32.061005,172.331985 28.370556,195.089325 28.750671,218.573853 
      C29.102932,240.337326 32.000603,261.375336 40.580254,281.419952 
      C47.232441,296.961426 55.928219,311.291412 67.008667,324.058197 
      C66.131699,324.822998 65.538719,325.436066 64.945740,326.049164 
      C63.626610,324.709747 62.307480,323.370331 60.927494,321.351135 
      C60.115070,319.802582 59.363499,318.933868 58.611931,318.065125 
      C58.360638,318.004761 58.182194,317.856598 57.909813,317.159485 
      C57.381844,316.512512 57.020664,316.326660 56.659489,316.140808 
      C55.760563,315.099274 54.861633,314.057739 53.843945,312.414062 
      C53.400116,311.573029 53.075050,311.334198 52.749977,311.095367 
      C52.447937,310.726593 52.145897,310.357849 51.787163,309.425415 
      C51.415485,308.601837 51.100498,308.341888 50.785507,308.081940 
    z"/>
    <path fill="#060404" opacity="1.000000" stroke="none" 
      d="
    M243.989838,167.107666 
      C244.425980,167.109558 244.862137,167.111481 245.638000,167.537033 
      C246.417755,168.656204 246.857788,169.351761 247.297821,170.047302 
      C247.528229,171.789490 247.758636,173.531693 247.685608,175.962021 
      C247.268814,177.299438 247.056396,177.948669 247.056229,178.597977 
      C247.045929,220.382767 247.041748,262.167572 247.107712,303.952240 
      C247.109863,305.317322 247.842560,306.681244 248.234711,308.045685 
      C248.387497,330.185577 248.540253,352.325500 248.069275,374.716370 
      C246.957962,373.349487 246.351532,371.756226 246.011246,370.108002 
      C245.525146,367.753387 245.233887,365.358521 244.719254,362.566284 
      C244.688034,348.770386 244.796997,335.389069 245.207825,321.718445 
      C245.658096,320.623627 245.934692,319.818298 245.935989,319.012543 
      C245.961441,303.222687 245.978149,287.432709 245.909119,271.643127 
      C245.903793,270.424591 245.249222,269.208893 244.788818,267.581055 
      C244.681213,235.102875 244.681213,203.035507 244.681213,170.766861 
      C234.665466,170.231918 225.549393,169.510971 216.421982,169.313293 
      C203.277405,169.028625 190.124588,169.124390 177.058701,168.652069 
      C178.779175,167.816071 180.412613,167.029846 182.053925,167.013046 
      C192.960617,166.901260 203.869278,166.992920 214.776550,166.913788 
      C216.509201,166.901230 218.238022,166.361038 219.968613,166.064774 
      C224.320267,166.156265 228.671936,166.247742 233.648331,166.774551 
      C237.511993,167.175797 240.750916,167.141724 243.989838,167.107666 
    z"/>
    <path fill="#121011" opacity="1.000000" stroke="none" 
      d="
    M243.904877,376.421204 
      C242.536301,376.610718 241.167725,376.800232 239.106018,376.696899 
      C235.927261,376.765137 233.441650,377.126190 230.956024,377.487244 
      C223.610641,377.682465 216.265244,377.877716 208.307709,377.804169 
      C207.135559,377.675446 206.575577,377.815491 206.015579,377.955536 
      C200.987244,377.876129 195.958923,377.796722 190.338379,377.279449 
      C187.510986,376.861725 185.275787,376.881866 183.040588,376.902008 
      C181.312469,376.831238 179.584335,376.760498 177.325485,376.267517 
      C175.540070,375.871338 174.285385,375.897369 173.030701,375.923431 
      C170.974686,375.779907 168.918686,375.636353 166.323517,375.106720 
      C164.865479,374.789093 163.946594,374.857574 163.027710,374.926025 
      C161.273483,374.720032 159.519241,374.514038 157.267029,373.977722 
      C156.187363,373.742523 155.605698,373.837677 155.024033,373.932800 
      C153.628052,373.845551 152.232056,373.758270 150.338013,373.270233 
      C148.906677,372.877319 147.973389,372.885162 147.040115,372.893036 
      C144.953049,372.509308 142.865982,372.125580 140.344269,371.348938 
      C139.294998,370.904602 138.680374,370.853180 138.065750,370.801758 
      C136.248322,370.294312 134.430893,369.786865 132.306244,368.710266 
      C131.988800,367.382660 131.978561,366.624237 132.359833,365.860779 
      C149.433243,371.642700 166.877289,372.921204 184.253738,373.562653 
      C204.124176,374.296143 224.041321,373.764771 243.959961,374.114929 
      C243.956131,375.104980 243.930496,375.763092 243.904877,376.421204 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M248.439453,307.690979 
      C247.842560,306.681244 247.109863,305.317322 247.107712,303.952240 
      C247.041748,262.167572 247.045929,220.382767 247.056229,178.597977 
      C247.056396,177.948669 247.268814,177.299438 247.654892,176.343506 
      C248.178207,177.302979 248.645401,178.568649 248.648026,179.835266 
      C248.734879,221.842621 248.777969,263.850067 248.818695,305.857513 
      C248.819168,306.350372 248.704910,306.843323 248.439453,307.690979 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M219.642365,165.823303 
      C218.238022,166.361038 216.509201,166.901230 214.776550,166.913788 
      C203.869278,166.992920 192.960617,166.901260 182.053925,167.013046 
      C180.412613,167.029846 178.779175,167.816071 176.748199,168.788635 
      C175.917145,169.256332 175.479996,169.181763 174.961548,168.699646 
      C169.817520,166.149033 164.843353,165.842300 160.016495,169.463989 
      C159.694611,173.601700 159.392929,177.283569 159.091278,180.965439 
      C158.908386,177.066849 158.468811,173.153046 158.698654,169.278946 
      C158.767822,168.113144 160.563843,166.853348 161.822906,166.021042 
      C162.720505,165.427704 164.043884,165.266998 165.175873,165.271347 
      C183.222748,165.340729 201.269424,165.467880 219.642365,165.823303 
    z"/>
    <path fill="#040001" opacity="1.000000" stroke="none" 
      d="
    M159.048523,181.430359 
      C159.392929,177.283569 159.694611,173.601700 160.223602,169.572266 
      C160.708420,169.419754 160.888916,169.670319 160.997055,170.362473 
      C161.436859,172.514526 161.872009,174.280487 162.445374,176.492905 
      C162.689911,183.967133 162.796234,190.994888 162.622528,198.327698 
      C162.229904,205.727524 162.189621,212.824646 161.959091,219.915604 
      C161.892883,221.951492 161.277084,223.969528 160.933334,225.544464 
      C160.661774,221.740677 160.370148,218.388168 160.078522,215.035675 
      C160.049042,214.268417 160.019577,213.501175 160.265732,212.165314 
      C160.383087,210.739685 160.224838,209.882660 160.066589,209.025635 
      C160.031769,208.571640 159.996948,208.117661 160.275574,207.024933 
      C160.256943,202.226273 159.924866,198.066345 159.592789,193.906418 
      C159.397125,189.902695 159.201462,185.898987 159.048523,181.430359 
    z"/>
    <path fill="#1F1111" opacity="1.000000" stroke="none" 
      d="
    M92.473770,348.195282 
      C89.402321,346.115723 86.330856,344.036163 82.969254,341.371033 
      C82.096207,340.547729 81.513306,340.310028 80.930412,340.072327 
      C80.930412,340.072327 80.973053,339.994232 80.837799,339.786926 
      C80.373444,339.427582 80.044342,339.275543 79.715240,339.123535 
      C78.919678,338.677673 78.124123,338.231812 77.042747,337.510498 
      C76.756927,337.235016 76.586235,337.092041 76.586227,337.092041 
      C76.112709,336.706360 75.639191,336.320679 75.056473,335.306641 
      C75.386810,334.067749 75.826347,333.457245 76.585785,332.946106 
      C86.703766,339.795807 96.501846,346.546112 106.222198,353.805664 
      C106.074509,354.999725 106.004532,355.684540 105.934555,356.369385 
      C103.110374,354.831299 100.286201,353.293243 97.075691,351.472473 
      C96.689354,351.189758 96.352219,350.955750 96.352219,350.955750 
      C95.653297,350.559540 94.954376,350.163300 93.947601,349.223511 
      C93.251099,348.518402 92.862434,348.356842 92.473770,348.195282 
    z"/>
    <path fill="#1F1111" opacity="1.000000" stroke="none" 
      d="
    M160.913269,225.995743 
      C161.277084,223.969528 161.892883,221.951492 161.959091,219.915604 
      C162.189621,212.824646 162.229904,205.727524 162.789047,198.696136 
      C163.488159,207.839417 163.740723,216.919296 163.764587,226.192352 
      C163.326889,226.932465 163.117889,227.479355 162.598495,228.021255 
      C161.670120,227.997147 161.052139,227.978027 160.434158,227.958923 
      C160.284882,227.532959 160.135605,227.107010 160.227219,226.338898 
      C160.468109,225.996765 160.913269,225.995743 160.913269,225.995743 
    z"/>
    <path fill="#040001" opacity="1.000000" stroke="none" 
      d="
    M162.908890,228.026260 
      C163.117889,227.479355 163.326889,226.932465 164.169083,226.164841 
      C165.877548,225.988770 166.952805,226.033417 168.269470,226.337891 
      C170.017792,226.353119 171.524719,226.108536 173.452271,225.737930 
      C175.907104,225.707214 177.941315,225.802551 180.145218,226.159027 
      C181.202744,226.301010 182.090576,226.181839 183.379623,225.982941 
      C184.866806,225.997543 185.952744,226.091858 187.038696,226.186172 
      C187.312393,226.637192 187.586075,227.088226 187.573746,227.787506 
      C185.852692,228.377304 184.417664,228.718872 182.982620,229.060425 
      C177.927399,229.104797 172.872192,229.149185 167.179993,228.864197 
      C165.331635,228.365311 164.120255,228.195786 162.908890,228.026260 
    z"/>
    <path fill="#1F1111" opacity="1.000000" stroke="none" 
      d="
    M125.880409,366.323730 
      C124.386330,365.782379 122.892242,365.241028 121.019318,364.171265 
      C120.251320,363.493073 119.862167,363.343292 119.473007,363.193542 
      C118.101181,362.689972 116.729355,362.186371 115.002747,361.159485 
      C113.848518,360.395020 113.049072,360.153839 112.249619,359.912689 
      C111.931023,359.773163 111.612427,359.633667 110.982140,359.027954 
      C110.305580,358.427917 109.940720,358.294159 109.575851,358.160370 
      C109.311768,358.186523 109.075027,358.118042 108.852936,357.343567 
      C108.903069,356.114502 108.965912,355.496857 109.375992,354.930206 
      C115.187515,357.863495 120.651802,360.745728 126.073357,364.076233 
      C125.980553,365.124237 125.930481,365.723999 125.880409,366.323730 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M244.262787,376.568665 
      C243.930496,375.763092 243.956131,375.104980 244.194534,373.732239 
      C244.558014,369.671997 244.708725,366.326447 244.859436,362.980865 
      C245.233887,365.358521 245.525146,367.753387 246.011246,370.108002 
      C246.351532,371.756226 246.957962,373.349487 247.862595,375.088440 
      C247.060013,375.711792 245.840363,376.213959 244.262787,376.568665 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M183.314514,229.259064 
      C184.417664,228.718872 185.852692,228.377304 187.685608,228.028564 
      C189.059418,227.043686 190.506699,226.223251 190.897995,225.050491 
      C191.450485,223.394531 191.222061,221.478043 191.569733,219.370758 
      C191.910324,219.887299 192.067429,220.703857 192.097885,221.525101 
      C192.410233,229.951324 192.304047,230.045746 183.314514,229.259064 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M159.429749,194.348892 
      C159.924866,198.066345 160.256943,202.226273 160.310272,206.684509 
      C159.776596,202.918991 159.521652,198.855179 159.429749,194.348892 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M160.933334,225.544464 
      C160.913269,225.995743 160.468109,225.996765 160.245575,225.997131 
      C159.882797,222.549088 159.742523,219.100677 159.840393,215.343964 
      C160.370148,218.388168 160.661774,221.740677 160.933334,225.544464 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M24.362661,209.423416 
      C24.791929,212.174332 25.109600,215.357300 25.108677,218.808884 
      C24.610409,216.003494 24.430737,212.929474 24.362661,209.423416 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M243.626221,166.925873 
      C240.750916,167.141724 237.511993,167.175797 234.087097,166.907776 
      C237.021606,166.651825 240.142105,166.697952 243.626221,166.925873 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M76.265892,332.846710 
      C75.826347,333.457245 75.386810,334.067749 74.867149,335.066650 
      C73.617737,334.500641 72.448441,333.546326 71.415894,332.066010 
      C71.730415,330.637207 71.908188,329.734344 72.392281,328.945953 
      C73.887703,330.322510 75.076797,331.584595 76.265892,332.846710 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M231.367920,377.616669 
      C233.441650,377.126190 235.927261,376.765137 238.688522,376.666412 
      C236.569366,377.201233 234.174591,377.473663 231.367920,377.616669 
    z"/>
    <path fill="#1F1111" opacity="1.000000" stroke="none" 
      d="
    M72.085960,328.831512 
      C71.908188,329.734344 71.730415,330.637207 71.288269,331.766479 
      C70.085014,331.218628 69.146133,330.444275 68.137230,329.040833 
      C68.792343,327.930206 69.517487,327.448700 70.500122,327.061157 
      C71.200401,327.713959 71.643181,328.272736 72.085960,328.831512 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M70.242630,326.967163 
      C69.517487,327.448700 68.792343,327.930206 67.999466,328.765015 
      C66.984695,328.299652 66.037651,327.481049 65.018173,326.355804 
      C65.538719,325.436066 66.131699,324.822998 67.297119,324.172516 
      C68.660583,325.079102 69.451607,326.023132 70.242630,326.967163 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M183.338593,377.146942 
      C185.275787,376.881866 187.510986,376.861725 189.894470,377.142212 
      C187.907379,377.425812 185.771973,377.408844 183.338593,377.146942 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M162.598495,228.021255 
      C164.120255,228.195786 165.331635,228.365311 166.781921,228.812103 
      C164.903000,228.913635 162.785187,228.737900 160.550751,228.260529 
      C161.052139,227.978027 161.670120,227.997147 162.598495,228.021255 
    z"/>
    <path fill="#121011" opacity="1.000000" stroke="none" 
      d="
    M126.099304,366.536011 
      C125.930481,365.723999 125.980553,365.124237 126.398705,364.113983 
      C127.954559,364.233856 129.142334,364.764252 130.250610,365.651794 
      C129.831879,366.629700 129.492630,367.250427 129.153351,367.871155 
      C128.208313,367.496857 127.263260,367.122589 126.099304,366.536011 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M24.810097,199.313980 
      C25.109194,200.579727 25.193655,202.141022 25.017670,203.851486 
      C24.703302,202.536942 24.649384,201.073242 24.810097,199.313980 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M109.028748,354.879181 
      C108.965912,355.496857 108.903069,356.114502 108.740173,357.192505 
      C107.881104,357.368805 107.122101,357.084778 106.148827,356.585022 
      C106.004532,355.684540 106.074509,354.999725 106.544052,353.857056 
      C107.638672,353.892487 108.333710,354.385834 109.028748,354.879181 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M173.291473,376.164490 
      C174.285385,375.897369 175.540070,375.871338 176.924545,376.108246 
      C175.886978,376.382660 174.719604,376.394135 173.291473,376.164490 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M129.345184,368.128967 
      C129.492630,367.250427 129.831879,366.629700 130.556763,365.624146 
      C131.284363,365.448151 131.626343,365.656982 131.968323,365.865784 
      C131.978561,366.624237 131.988800,367.382660 132.005051,368.519257 
      C131.186371,368.727203 130.361694,368.557007 129.345184,368.128967 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M220.893784,240.317749 
      C220.861084,241.585938 220.575378,243.114227 219.981201,244.773254 
      C219.995407,243.461945 220.318100,242.019882 220.893784,240.317749 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M25.458822,240.285492 
      C25.896067,240.854767 26.207357,241.728760 26.295837,242.784775 
      C25.826307,242.174606 25.579590,241.382385 25.458822,240.285492 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M30.927994,264.358856 
      C31.459171,265.198181 31.979729,266.397705 32.274403,267.787201 
      C31.671471,266.891144 31.294422,265.805084 30.927994,264.358856 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M247.486679,169.808640 
      C246.857788,169.351761 246.417755,168.656204 245.951385,167.634552 
      C246.508545,168.062286 247.092041,168.816132 247.486679,169.808640 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M163.276398,375.144806 
      C163.946594,374.857574 164.865479,374.789093 165.917236,374.943481 
      C165.208435,375.232086 164.366760,375.297821 163.276398,375.144806 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M190.305878,196.724991 
      C190.857788,196.274567 191.730331,195.886200 192.793213,195.731689 
      C192.197876,196.239380 191.412201,196.513214 190.305878,196.724991 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M147.272247,373.129028 
      C147.973389,372.885162 148.906677,372.877319 149.947021,373.117706 
      C149.204178,373.365662 148.354294,373.365356 147.272247,373.129028 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M24.629364,229.162781 
      C25.023481,229.824081 25.253733,230.715591 25.231815,231.804535 
      C24.808264,231.132294 24.636881,230.262634 24.629364,229.162781 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M159.863876,209.223419 
      C160.224838,209.882660 160.383087,210.739685 160.312424,211.783569 
      C159.942719,211.120682 159.801941,210.270935 159.863876,209.223419 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M220.865265,213.340729 
      C221.393036,214.188507 221.938385,215.397949 222.250885,216.796814 
      C221.639633,215.891632 221.261246,214.797012 220.865265,213.340729 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M58.646690,318.415222 
      C59.363499,318.933868 60.115070,319.802582 60.833569,321.050598 
      C60.094147,320.541687 59.387798,319.653534 58.646690,318.415222 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M155.170837,374.124573 
      C155.605698,373.837677 156.187363,373.742523 156.900787,373.884399 
      C156.460892,374.186371 155.889252,374.251312 155.170837,374.124573 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M206.173721,378.131409 
      C206.575577,377.815491 207.135559,377.675446 207.840790,377.749329 
      C207.434616,378.077942 206.883240,378.192596 206.173721,378.131409 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M138.238129,371.040009 
      C138.680374,370.853180 139.294998,370.904602 139.984924,371.175720 
      C139.510315,371.356354 138.960419,371.317322 138.238129,371.040009 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M221.760345,236.193176 
      C221.961594,236.621857 221.963440,237.253281 221.724152,237.953278 
      C221.508987,237.479874 221.534943,236.937881 221.760345,236.193176 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M26.480152,246.234955 
      C26.878195,246.538849 27.173012,247.108200 27.271276,247.823135 
      C26.842125,247.479279 26.609528,246.989838 26.480152,246.234955 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M218.479874,248.643127 
      C218.478836,249.253571 218.214340,250.037827 217.633759,250.918518 
      C217.617249,250.282272 217.916824,249.549622 218.479874,248.643127 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M27.469383,251.241272 
      C27.858408,251.552765 28.142778,252.128738 28.221992,252.846771 
      C27.799467,252.494461 27.582096,252.000107 27.469383,251.241272 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M182.148895,203.780182 
      C182.003525,203.344971 182.065521,202.717545 182.375610,202.034378 
      C182.534546,202.515076 182.445419,203.051529 182.148895,203.780182 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M28.458797,256.241333 
      C28.869820,256.534485 29.180851,257.095886 29.298588,257.805695 
      C28.856462,257.472595 28.607635,256.991058 28.458797,256.241333 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M27.847603,181.220169 
      C28.044615,181.643753 28.033714,182.261444 27.795742,182.953003 
      C27.592346,182.489334 27.616020,181.951797 27.847603,181.220169 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M26.890844,186.230225 
      C27.085962,186.651947 27.069185,187.263580 26.832096,187.950928 
      C26.634174,187.491135 26.656561,186.955643 26.890844,186.230225 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M112.423843,360.166321 
      C113.049072,360.153839 113.848518,360.395020 114.787064,360.928223 
      C114.150131,360.953522 113.374107,360.686737 112.423843,360.166321 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M207.413391,197.170105 
      C208.040314,197.144196 208.837982,197.375122 209.782150,197.890991 
      C209.147156,197.926270 208.365646,197.676620 207.413391,197.170105 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M29.712317,261.219971 
      C30.098553,261.322937 30.434122,261.683594 30.756767,262.312836 
      C30.383112,262.213470 30.022381,261.845581 29.712317,261.219971 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M34.047287,153.345917 
      C34.216885,153.612030 34.261330,154.176956 34.060822,154.837128 
      C33.851292,154.503159 33.886711,154.073959 34.047287,153.345917 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M81.088966,340.332581 
      C81.513306,340.310028 82.096207,340.547729 82.770859,341.107239 
      C82.324249,341.150299 81.785889,340.871552 81.088966,340.332581 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M219.734726,210.319839 
      C220.091858,210.553757 220.474274,211.139648 220.821686,212.103424 
      C220.444473,211.878143 220.102234,211.274979 219.734726,210.319839 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M188.300446,197.460358 
      C188.271622,197.262161 188.440094,197.147766 188.782257,197.026001 
      C188.880020,197.246658 188.727295,197.421844 188.300446,197.460358 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M30.069962,170.260040 
      C30.283960,170.207611 30.427731,170.378143 30.518576,170.573288 
      C30.541445,170.622406 30.394804,170.750443 30.167950,170.915558 
      C30.009834,170.988907 29.980125,170.492096 30.069962,170.260040 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M30.820213,167.032761 
      C30.972813,167.141220 30.925913,167.353287 30.742405,167.688507 
      C30.468699,167.594147 30.473673,167.369049 30.820213,167.032761 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M32.896011,157.213821 
      C33.033115,157.319077 33.015919,157.494461 32.948200,157.930908 
      C32.798050,157.992996 32.674824,157.801239 32.610634,157.591431 
      C32.585697,157.509949 32.694069,157.387650 32.896011,157.213821 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M182.182739,206.736145 
      C182.015213,206.732956 181.837418,206.477661 181.823761,206.118378 
      C182.049423,206.170929 182.110947,206.327484 182.182739,206.736145 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M218.776215,208.413406 
      C219.004242,208.377930 219.345459,208.637436 219.741364,209.229355 
      C219.493835,209.277313 219.191620,208.992844 218.776215,208.413406 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M119.656662,363.437195 
      C119.862167,363.343292 120.251320,363.493073 120.779236,363.931335 
      C120.558777,364.040192 120.199547,363.860535 119.656662,363.437195 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M34.881195,150.163605 
      C34.998539,150.260910 34.946335,150.419662 34.811684,150.676285 
      C34.543720,150.606262 34.537849,150.423218 34.881195,150.163605 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M35.932640,147.227234 
      C36.173691,147.204742 36.323730,147.390045 36.435646,147.596069 
      C36.449764,147.622055 36.263451,147.756927 35.980274,147.878067 
      C35.790550,147.914795 35.829922,147.441391 35.932640,147.227234 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M96.358276,351.099792 
      C96.352219,350.955750 96.689354,351.189758 96.765717,351.250092 
      C96.842087,351.310425 96.582657,351.424683 96.582657,351.424683 
      C96.582657,351.424683 96.364342,351.243835 96.358276,351.099792 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M52.868057,311.364990 
      C53.075050,311.334198 53.400116,311.573029 53.784088,312.122772 
      C53.557369,312.167328 53.271748,311.900970 52.868057,311.364990 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M211.604202,260.761963 
      C211.676346,260.955109 211.514328,261.318604 211.068390,261.799011 
      C210.979660,261.588074 211.174866,261.260162 211.604202,260.761963 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M33.900459,274.362976 
      C34.129108,274.347443 34.420742,274.634003 34.746803,275.238831 
      C34.508633,275.259735 34.236038,274.962402 33.900459,274.362976 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M34.986931,277.285034 
      C35.202106,277.280792 35.478397,277.570709 35.789703,278.170563 
      C35.565819,278.180054 35.306931,277.879639 34.986931,277.285034 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M38.746262,285.427429 
      C38.974251,285.388062 39.323742,285.641907 39.730080,286.230591 
      C39.480537,286.283813 39.174149,286.002228 38.746262,285.427429 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M41.671741,291.386749 
      C41.844692,291.366943 42.071770,291.568512 42.132977,291.882385 
      C41.967102,291.994751 41.725872,291.608093 41.671741,291.386749 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M46.673256,302.269226 
      C46.759804,302.196594 46.868057,302.366150 46.896278,302.402924 
      C46.924503,302.439697 46.586704,302.341858 46.673256,302.269226 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M48.990845,305.286072 
      C49.202168,305.281799 49.479382,305.568146 49.794308,306.162750 
      C49.573589,306.172913 49.315166,305.874786 48.990845,305.286072 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M50.890610,308.363159 
      C51.100498,308.341888 51.415485,308.601837 51.780266,309.179016 
      C51.551945,309.212280 51.273827,308.928345 50.890610,308.363159 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M109.757553,358.384460 
      C109.940720,358.294159 110.305580,358.427917 110.822128,358.817139 
      C110.628952,358.917877 110.284103,358.763245 109.757553,358.384460 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M56.813522,316.407288 
      C57.020664,316.326660 57.381844,316.512512 57.878174,316.983582 
      C57.664734,317.070465 57.316151,316.872131 56.813522,316.407288 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M216.645142,252.820724 
      C216.728912,252.988953 216.605240,253.332275 216.246719,253.824585 
      C216.153793,253.647644 216.295746,253.321732 216.645142,252.820724 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M76.542923,337.196411 
      C76.586235,337.092041 76.756927,337.235016 76.798569,337.264343 
      C76.840202,337.293701 76.499619,337.300751 76.542923,337.196411 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M79.860573,339.353210 
      C80.044342,339.275543 80.373444,339.427582 80.826393,339.829285 
      C80.635468,339.913544 80.320686,339.748199 79.860573,339.353210 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M92.650711,348.444946 
      C92.862434,348.356842 93.251099,348.518402 93.763077,348.979980 
      C93.533485,349.084900 93.180573,348.889771 92.650711,348.444946 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M208.630219,263.866943 
      C208.662430,264.074219 208.426086,264.400513 207.878723,264.785400 
      C207.832352,264.557983 208.097015,264.271942 208.630219,263.866943 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M191.365952,214.650818 
      C191.177185,214.642609 191.098877,214.471939 191.028656,214.146271 
      C191.252884,214.084030 191.399429,214.249725 191.365952,214.650818 
    z"/>
    <path fill="#FDFDFD" opacity="1.000000" stroke="none" 
      d="
    M132.359833,365.860779 
      C131.626343,365.656982 131.284363,365.448151 130.636230,365.266998 
      C129.142334,364.764252 127.954559,364.233856 126.441437,363.665710 
      C120.651802,360.745728 115.187515,357.863495 109.375992,354.930206 
      C108.333710,354.385834 107.638672,353.892487 106.621780,353.347778 
      C96.501846,346.546112 86.703766,339.795807 76.585785,332.946106 
      C75.076797,331.584595 73.887703,330.322510 72.392281,328.945953 
      C71.643181,328.272736 71.200401,327.713959 70.500130,327.061157 
      C69.451607,326.023132 68.660583,325.079102 67.581100,324.020782 
      C55.928219,311.291412 47.232441,296.961426 40.580254,281.419952 
      C32.000603,261.375336 29.102932,240.337326 28.750671,218.573853 
      C28.370556,195.089325 32.061005,172.331985 39.524513,150.386139 
      C43.594315,138.419189 50.162987,127.098152 56.880608,116.277962 
      C70.957672,93.603752 89.096939,75.094330 113.151054,62.394257 
      C131.139908,52.896519 149.619797,44.972824 169.578857,41.615311 
      C188.596313,38.416191 207.958130,36.092880 227.265686,38.471420 
      C247.237305,40.931763 265.185913,49.510006 282.462341,59.440258 
      C311.555054,76.162369 333.346008,100.317024 349.895782,128.922043 
      C358.642273,144.039658 363.008392,161.144760 364.092224,178.956985 
      C366.870209,224.610275 353.229492,265.565277 329.660492,303.942200 
      C320.901611,318.204102 309.865631,330.196930 296.624115,340.281403 
      C295.701782,340.983826 294.734894,341.640656 293.730560,342.217407 
      C293.185211,342.530579 292.517120,342.630005 291.878693,342.834045 
      C283.953064,331.348907 276.124756,320.004822 268.336731,308.719116 
      C278.203644,298.330505 285.502869,286.185211 291.534027,273.414581 
      C301.479187,252.356155 309.164246,230.447342 308.853729,206.772141 
      C308.181061,155.489471 282.713593,121.793068 232.319275,112.455620 
      C198.099792,106.115181 165.201538,113.067047 138.367767,136.756821 
      C123.572304,149.818756 111.912292,166.146255 108.891052,186.543716 
      C105.574135,208.937363 112.589241,228.774521 125.241119,247.199677 
      C137.459839,264.994080 154.433395,273.731873 175.357437,276.158478 
      C202.483490,279.304382 222.246170,264.098358 225.663467,236.902939 
      C226.977448,226.445953 227.096298,215.990280 222.444763,206.014542 
      C215.705643,191.561661 192.234116,186.911407 181.004974,197.941406 
      C176.156403,202.703995 176.226685,210.128326 181.975052,212.069855 
      C187.888992,214.067291 187.767609,217.826813 187.640640,222.331467 
      C187.612579,223.326874 187.521179,224.320496 187.248825,225.750549 
      C185.952744,226.091858 184.866806,225.997543 183.161560,225.833069 
      C181.686676,225.807892 180.831085,225.852890 179.975510,225.897888 
      C177.941315,225.802551 175.907104,225.707214 173.164001,225.592560 
      C170.979431,225.741501 169.503754,225.909775 168.028076,226.078064 
      C166.952805,226.033417 165.877548,225.988770 164.397781,225.971649 
      C163.740723,216.919296 163.488159,207.839417 163.069061,198.391113 
      C162.796234,190.994888 162.689911,183.967133 162.609100,176.076691 
      C162.505814,173.428040 162.377014,171.642029 162.693329,169.754730 
      C167.106598,169.471359 171.074722,169.289276 175.042847,169.107193 
      C175.479996,169.181763 175.917145,169.256332 176.664795,169.194336 
      C190.124588,169.124390 203.277405,169.028625 216.421982,169.313293 
      C225.549393,169.510971 234.665466,170.231918 244.681213,170.766861 
      C244.681213,203.035507 244.681213,235.102875 244.642273,267.959106 
      C244.704224,286.501251 244.805099,304.254486 244.905960,322.007751 
      C244.796997,335.389069 244.688034,348.770386 244.719269,362.566284 
      C244.708725,366.326447 244.558014,369.671997 244.172745,373.400269 
      C224.041321,373.764771 204.124176,374.296143 184.253738,373.562653 
      C166.877289,372.921204 149.433243,371.642700 132.359833,365.860779 
    z"/>
    <path fill="#2D1716" opacity="1.000000" stroke="none" 
      d="
    M245.207825,321.718445 
      C244.805099,304.254486 244.704224,286.501251 244.749878,268.369934 
      C245.249222,269.208893 245.903793,270.424591 245.909119,271.643127 
      C245.978149,287.432709 245.961441,303.222687 245.935989,319.012543 
      C245.934692,319.818298 245.658096,320.623627 245.207825,321.718445 
    z"/>
    <path fill="#060404" opacity="1.000000" stroke="none" 
      d="
    M174.961548,168.699646 
      C171.074722,169.289276 167.106598,169.471359 162.483170,169.766907 
      C161.552704,169.941299 161.274216,169.973312 160.992401,169.976379 
      C160.888916,169.670319 160.708420,169.419754 160.243805,169.116425 
      C164.843353,165.842300 169.817520,166.149033 174.961548,168.699646 
    z"/>
    <path fill="#1F1111" opacity="1.000000" stroke="none" 
      d="
    M160.997055,170.362473 
      C161.274216,169.973312 161.552704,169.941299 162.038025,169.868195 
      C162.377014,171.642029 162.505814,173.428040 162.470886,175.630249 
      C161.872009,174.280487 161.436859,172.514526 160.997055,170.362473 
    z"/>
    <path fill="#1F1111" opacity="1.000000" stroke="none" 
      d="
    M168.269470,226.337875 
      C169.503754,225.909775 170.979431,225.741501 172.743378,225.718597 
      C171.524719,226.108536 170.017792,226.353119 168.269470,226.337875 
    z"/>
    <path fill="#1F1111" opacity="1.000000" stroke="none" 
      d="
    M180.145218,226.159027 
      C180.831085,225.852890 181.686676,225.807892 182.760315,225.912781 
      C182.090576,226.181839 181.202744,226.301010 180.145218,226.159027 
    z"/>
    <title>Logo cap</title>
    </svg>
  </div>
</footer>