---
const { title } = Astro.props;
import Footer from "../components/Footer.astro";
---
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>
