---
import Layout from "@layouts/Layout.astro";
import RequireAuth from "@components/RequireAuth";
import PasswordForm from "@components/PasswordForm";
---
<Layout title="Password Management">
  <main class="flex-1 flex flex-col gap-4 items-center p-4 justify-center">
    <RequireAuth client:load>
      <PasswordForm client:load />
    </RequireAuth>
  </main>
</Layout>