---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Site en cours de construction">
  <main
    class="container mx-auto flex min-h-[calc(100vh-330px)] items-center justify-center space-y-6 px-4 py-4"
  >
    <section>
      <h1
        class="mb-8 bg-gradient-to-r from-blue-900 to-blue-600 bg-clip-text text-3xl font-bold text-transparent"
      >
        Désolé, le site est encore en cours de construction...
      </h1>
      <div class="mx-auto max-w-2xl drop-shadow-md">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 464.56 233.06"
          ><defs
            ><style>
              .cls-1 {
                isolation: isolate;
              }
              .cls-2 {
                fill: #b6c3cc;
              }
              .cls-3 {
                fill: #697172;
              }
              .cls-11,
              .cls-4 {
                fill: #606060;
              }
              .cls-5 {
                fill: #d0493a;
              }
              .cls-6,
              .cls-9 {
                fill: none;
                stroke-linecap: round;
              }
              .cls-6 {
                stroke: #f5da34;
                stroke-miterlimit: 10;
              }
              .cls-7,
              .cls-8 {
                fill: #f5da34;
              }
              .cls-7 {
                opacity: 0.4;
              }
              .cls-9 {
                stroke: #919a9b;
                stroke-linejoin: round;
              }
              .cls-10,
              .cls-12 {
                fill: #fefcf3;
              }
              .cls-11,
              .cls-12 {
                opacity: 0.3;
              }
              .cls-11 {
                mix-blend-mode: multiply;
              }
              .cls-12 {
                mix-blend-mode: screen;
              }
              .cls-13 {
                fill: #e5c62c;
              }
              .cls-14 {
                font-size: 37.03px;
                fill: #414a51;
                font-family: Montserrat-SemiBold, Montserrat;
                font-weight: 600;
                letter-spacing: 0.1em;
              }
              .cls-15 {
                fill: #494947;
              }
              .cls-16 {
                fill: #fff;
              }
              .cls-17 {
                fill: #c44339;
              }
            </style></defs
          ><title>220886-P16W9L-44</title><g class="cls-1"
            ><g id="OBJECTS"
              ><ellipse
                class="cls-2"
                cx="232.28"
                cy="219.37"
                rx="232.28"
                ry="13.69"></ellipse><path
                class="cls-3"
                d="M173,180v5.74H149.63V180a2.18,2.18,0,0,1,0-.25,6.35,6.35,0,0,1,6.35-6.11h10.66a6.37,6.37,0,0,1,4.88,2.3A6.27,6.27,0,0,1,173,180Z"
                transform="translate(-17.72 -138.25)"></path><rect
                class="cls-3"
                x="136.44"
                y="46.72"
                width="14.3"
                height="157.02"></rect><rect
                class="cls-3"
                x="121.62"
                y="203.67"
                width="43.94"
                height="11.82"></rect><path
                class="cls-4"
                d="M183.29,341.92v11.82h-22.1a8.47,8.47,0,0,0-8.36-7.1H139.34v-4.72Z"
                transform="translate(-17.72 -138.25)"></path><path
                class="cls-4"
                d="M173,180v5.74h-4.54V342H161.3a12.84,12.84,0,0,0-2.21-6.89,13.29,13.29,0,0,0-4.61-4.17l-.31-.17V317.5h7.15V273.24a13.23,13.23,0,0,0-7.15-11.78V248.34h7.15V192.52a12.65,12.65,0,0,0-1.94-6.75,5.11,5.11,0,0,0-.54-.8,10.35,10.35,0,0,0-1.3-1.52,12.58,12.58,0,0,0-7.9-3.67,6.35,6.35,0,0,1,6.35-6.11h10.66a6.37,6.37,0,0,1,4.88,2.3A6.27,6.27,0,0,1,173,180Z"
                transform="translate(-17.72 -138.25)"></path><circle
                class="cls-5"
                cx="143.75"
                cy="18.11"
                r="18.11"></circle><path
                class="cls-6"
                d="M174.88,163.87a15.49,15.49,0,0,1-4.82,5.23"
                transform="translate(-17.72 -138.25)"></path><path
                class="cls-6"
                d="M165.43,171.21a15,15,0,0,1-3.37.5"
                transform="translate(-17.72 -138.25)"></path><path
                class="cls-6"
                d="M148.91,147.52a16.85,16.85,0,0,1,1.42-1.74"
                transform="translate(-17.72 -138.25)"></path><path
                class="cls-6"
                d="M153.22,143.4a15.41,15.41,0,0,1,15.85-.4"
                transform="translate(-17.72 -138.25)"></path><circle
                class="cls-7"
                cx="161.48"
                cy="156.36"
                r="12.29"
                transform="translate(-80.52 3.19) rotate(-40.27)"
              ></circle><circle class="cls-8" cx="143.75" cy="18.11" r="8.07"
              ></circle><path
                class="cls-9"
                d="M156.85,272.34v11.12"
                transform="translate(-17.72 -138.25)"></path><path
                class="cls-9"
                d="M156.85,335.81v4.29"
                transform="translate(-17.72 -138.25)"></path><path
                class="cls-3"
                d="M350.37,180v5.74H327V180a2.18,2.18,0,0,1,0-.25,6.35,6.35,0,0,1,6.35-6.11H344a6.37,6.37,0,0,1,6.35,6.36Z"
                transform="translate(-17.72 -138.25)"></path><rect
                class="cls-3"
                x="313.81"
                y="46.72"
                width="14.3"
                height="157.02"></rect><rect
                class="cls-3"
                x="298.99"
                y="203.67"
                width="43.94"
                height="11.82"></rect><path
                class="cls-4"
                d="M360.65,341.92v11.82H338.56a8.47,8.47,0,0,0-8.37-7.1H316.71v-4.72Z"
                transform="translate(-17.72 -138.25)"></path><path
                class="cls-4"
                d="M350.37,180v5.74h-4.54V342h-7.16a12.84,12.84,0,0,0-2.21-6.89,13.38,13.38,0,0,0-4.61-4.17l-.32-.17V317.5h7.15V273.24a13.23,13.23,0,0,0-2.27-7.44,13.09,13.09,0,0,0-4.88-4.34V248.34h7.15V192.52a12.64,12.64,0,0,0-1.93-6.75,7,7,0,0,0-.54-.8,11,11,0,0,0-1.3-1.52,12.58,12.58,0,0,0-7.9-3.67,6.35,6.35,0,0,1,6.35-6.11H344a6.37,6.37,0,0,1,6.35,6.36Z"
                transform="translate(-17.72 -138.25)"></path><circle
                class="cls-5"
                cx="321.12"
                cy="18.11"
                r="18.11"></circle><path
                class="cls-6"
                d="M352.25,163.87a15.42,15.42,0,0,1-4.83,5.23"
                transform="translate(-17.72 -138.25)"></path><path
                class="cls-6"
                d="M342.8,171.21a15.07,15.07,0,0,1-3.38.5"
                transform="translate(-17.72 -138.25)"></path><path
                class="cls-6"
                d="M326.28,147.52a16.85,16.85,0,0,1,1.42-1.74"
                transform="translate(-17.72 -138.25)"></path><path
                class="cls-6"
                d="M330.59,143.4a15.41,15.41,0,0,1,15.85-.4"
                transform="translate(-17.72 -138.25)"></path><circle
                class="cls-7"
                cx="338.84"
                cy="156.36"
                r="12.29"
                transform="translate(85.31 307.34) rotate(-75.58)"
              ></circle><circle class="cls-8" cx="321.12" cy="18.11" r="8.07"
              ></circle><path
                class="cls-9"
                d="M334.22,272.34v11.12"
                transform="translate(-17.72 -138.25)"></path><path
                class="cls-9"
                d="M334.22,335.81v4.29"
                transform="translate(-17.72 -138.25)"></path><rect
                class="cls-10"
                x="112.82"
                y="150.77"
                width="238.92"
                height="34.69"></rect><polygon
                class="cls-5"
                points="139.17 150.76 112.82 177.18 112.82 162.99 125.01 150.76 139.17 150.76"
              ></polygon><polygon
                class="cls-5"
                points="166.91 150.76 132.29 185.46 118.11 185.46 152.74 150.76 166.91 150.76"
              ></polygon><polygon
                class="cls-5"
                points="194.63 150.76 160.01 185.46 145.85 185.46 180.47 150.76 194.63 150.76"
              ></polygon><polygon
                class="cls-5"
                points="222.37 150.76 187.75 185.46 173.57 185.46 208.2 150.76 222.37 150.76"
              ></polygon><polygon
                class="cls-5"
                points="250.11 150.76 215.48 185.46 201.31 185.46 235.93 150.76 250.11 150.76"
              ></polygon><polygon
                class="cls-5"
                points="277.83 150.76 243.21 185.46 229.03 185.46 263.66 150.76 277.83 150.76"
              ></polygon><polygon
                class="cls-5"
                points="305.57 150.76 270.94 185.46 256.77 185.46 291.39 150.76 305.57 150.76"
              ></polygon><polygon
                class="cls-5"
                points="333.29 150.76 298.67 185.46 284.51 185.46 319.13 150.76 333.29 150.76"
              ></polygon><polygon
                class="cls-5"
                points="351.74 150.76 351.74 160.09 326.4 185.46 312.23 185.46 346.86 150.76 351.74 150.76"
              ></polygon><polygon
                class="cls-5"
                points="351.74 173.66 351.74 185.46 339.97 185.46 351.74 173.66"
              ></polygon><path
                class="cls-11"
                d="M369.46,289v34.69H299.84a77.27,77.27,0,0,0-56.65-24.61H130.54V289Z"
                transform="translate(-17.72 -138.25)"></path><rect
                class="cls-10"
                x="112.82"
                y="46.71"
                width="238.92"
                height="69.37"></rect><polygon
                class="cls-5"
                points="154.63 46.72 112.82 88.61 112.82 66.3 132.37 46.72 154.63 46.72"
              ></polygon><polygon
                class="cls-5"
                points="199.17 46.72 129.94 116.09 112.82 116.09 112.82 110.92 176.89 46.72 199.17 46.72"
              ></polygon><polygon
                class="cls-5"
                points="243.69 46.72 174.46 116.09 152.2 116.09 221.43 46.72 243.69 46.72"
              ></polygon><polygon
                class="cls-5"
                points="288.23 46.72 219 116.09 196.73 116.09 265.97 46.72 288.23 46.72"
              ></polygon><polygon
                class="cls-5"
                points="332.76 46.72 263.53 116.09 241.26 116.09 310.49 46.72 332.76 46.72"
              ></polygon><polygon
                class="cls-5"
                points="351.74 50.01 351.74 72.31 308.06 116.09 285.8 116.09 351.74 50.01"
              ></polygon><polygon
                class="cls-5"
                points="351.74 96.95 351.74 116.09 332.64 116.09 351.74 96.95"
              ></polygon><path
                class="cls-12"
                d="M257.89,243.1H146.3a7,7,0,0,1-7-6.95h0a7,7,0,0,1,7-7H257.89a6.93,6.93,0,0,1,6.95,7h0A7,7,0,0,1,257.89,243.1Z"
                transform="translate(-17.72 -138.25)"></path><path
                class="cls-12"
                d="M230.23,318.87H146.3a7,7,0,0,1-7-6.95h0a7,7,0,0,1,7-7h83.93a7,7,0,0,1,7,7h0A7,7,0,0,1,230.23,318.87Z"
                transform="translate(-17.72 -138.25)"></path><path
                class="cls-11"
                d="M130.54,185V205.9H243.19a77.1,77.1,0,0,1,34.17,7.93l-40.51,40.51H298.3l15.7-15.7a77.12,77.12,0,0,1,8.61,15.7h46.85V185Z"
                transform="translate(-17.72 -138.25)"></path><path
                class="cls-11"
                d="M319.14,222.9a6.18,6.18,0,0,1-1.73,3.24l-28.19,28.2H250V185h35.15l32.26,32.27A6.3,6.3,0,0,1,319.14,222.9Z"
                transform="translate(-17.72 -138.25)"></path><path
                class="cls-8"
                d="M312.23,219.71a4.69,4.69,0,0,1-1.38,3.33l-61.48,61.49a4.71,4.71,0,0,1-6.65,0L181.24,223a4.68,4.68,0,0,1,0-6.64l47.15-47.15,14.33-14.34a4.71,4.71,0,0,1,6.65,0l61.48,61.49A4.67,4.67,0,0,1,312.23,219.71Z"
                transform="translate(-17.72 -138.25)"></path><path
                class="cls-13"
                d="M312.23,219.71a4.69,4.69,0,0,1-1.38,3.33l-61.48,61.49a4.71,4.71,0,0,1-6.65,0L231,272.8l25.56-25.57a35.21,35.21,0,0,0,0-49.81l-28.17-28.17,14.33-14.34a4.71,4.71,0,0,1,6.65,0l61.48,61.49A4.67,4.67,0,0,1,312.23,219.71Z"
                transform="translate(-17.72 -138.25)"></path><text
                class="cls-14"
                transform="translate(186.36 91.67)">404</text
              ><path
                class="cls-15"
                d="M193.47,221.7a1.78,1.78,0,1,1,1.78-1.78A1.78,1.78,0,0,1,193.47,221.7Z"
                transform="translate(-17.72 -138.25)"></path><path
                class="cls-4"
                d="M193.83,221.7a1.78,1.78,0,1,1,1.78-1.78A1.78,1.78,0,0,1,193.83,221.7Z"
                transform="translate(-17.72 -138.25)"></path><path
                class="cls-15"
                d="M298.66,218.14a1.78,1.78,0,1,1-1.79,1.78A1.78,1.78,0,0,1,298.66,218.14Z"
                transform="translate(-17.72 -138.25)"></path><circle
                class="cls-4"
                cx="280.57"
                cy="81.67"
                r="1.78"></circle><path
                class="cls-16"
                d="M246.05,279.86a5,5,0,0,1-3.54-1.46l-55.14-55.15a5,5,0,0,1,0-7.07L242.51,161a5.12,5.12,0,0,1,7.07,0l55.15,55.14a5,5,0,0,1,0,7.07L249.58,278.4A5,5,0,0,1,246.05,279.86Zm0-118.7a3.42,3.42,0,0,0-2.42,1L188.49,217.3a3.42,3.42,0,0,0,0,4.83l55.14,55.14a3.48,3.48,0,0,0,4.83,0l55.14-55.14a3.36,3.36,0,0,0,1-2.41,3.4,3.4,0,0,0-1-2.42l-55.14-55.14A3.4,3.4,0,0,0,246.05,161.16Z"
                transform="translate(-17.72 -138.25)"></path><polygon
                class="cls-5"
                points="424.72 203.73 367.8 203.73 372.07 187.24 375.67 173.25 378.68 161.64 382.28 147.66 391.04 113.76 401.48 113.76 410.23 147.66 413.84 161.64 416.84 173.25 420.45 187.24 424.72 203.73"
              ></polygon><polygon
                class="cls-10"
                points="413.84 161.65 378.68 161.65 382.28 147.66 410.23 147.66 413.84 161.65"
              ></polygon><polygon
                class="cls-10"
                points="420.44 187.24 372.07 187.24 375.67 173.26 416.84 173.26 420.44 187.24"
              ></polygon><rect
                class="cls-17"
                x="355.52"
                y="203.67"
                width="81.48"
                height="11.82"></rect><path
                class="cls-11"
                d="M454.72,341.92v11.82h-37a8.46,8.46,0,0,0-8.36-7.1H373.24v-4.72Z"
                transform="translate(-17.72 -138.25)"></path><path
                class="cls-11"
                d="M415.64,342c12.18-55.16-6.88-90-6.88-90H419.2l8.75,33.9,3.61,14,3,11.61,3.61,14L442.44,342Z"
                transform="translate(-17.72 -138.25)"></path><path
                class="cls-12"
                d="M410.13,305.32c-2.84,14.62-7.34,26-10.06,25.52s-2.63-12.81.2-27.44,7.34-26,10.06-25.52S413,290.69,410.13,305.32Z"
                transform="translate(-17.72 -138.25)"></path><polygon
                class="cls-5"
                points="96.76 203.73 39.84 203.73 44.11 187.24 47.71 173.25 50.72 161.64 54.32 147.66 63.08 113.76 73.52 113.76 82.27 147.66 85.88 161.64 88.88 173.25 92.49 187.24 96.76 203.73"
              ></polygon><polygon
                class="cls-10"
                points="85.88 161.65 50.72 161.65 54.32 147.66 82.28 147.66 85.88 161.65"
              ></polygon><polygon
                class="cls-10"
                points="92.49 187.24 44.11 187.24 47.71 173.26 88.88 173.26 92.49 187.24"
              ></polygon><rect
                class="cls-17"
                x="27.56"
                y="203.67"
                width="81.48"
                height="11.82"></rect><path
                class="cls-11"
                d="M126.76,341.92v11.82h-37a8.47,8.47,0,0,0-8.37-7.1H45.28v-4.72Z"
                transform="translate(-17.72 -138.25)"></path><path
                class="cls-11"
                d="M87.68,342c12.18-55.16-6.88-90-6.88-90H91.24l8.75,33.9,3.61,14,3,11.61,3.61,14L114.48,342Z"
                transform="translate(-17.72 -138.25)"></path><path
                class="cls-12"
                d="M82.17,305.32c-2.84,14.62-7.34,26-10.06,25.52s-2.63-12.81.21-27.44,7.34-26,10.06-25.52S85,290.69,82.17,305.32Z"
                transform="translate(-17.72 -138.25)"></path></g
            ></g
          ></svg
        >
      </div>
    </section>
  </main>
</Layout>