---
import Layout from "@layouts/Layout.astro";
import RequireAuth from "@components/RequireAuth";
import AccountPage from "../components/account.tsx";
---

<Layout title="Mon compte">
  <main class="bg-white min-h-screen p-8 flex justify-center">
    <RequireAuth client:load>
      <AccountPage client:load />
    </RequireAuth>
  </main>
</Layout>
