---
import Layout from "@layouts/Layout.astro";
import Pins from "../components/admin-pins";
---

<Layout title="Admin - Pins">
  <main class="bg-gray-100 min-h-screen p-8 flex justify-center">
    <Pins client:load />
  </main>
</Layout>
