---
import Layout from "@layouts/Layout.astro";
import MembershipTable from "../components/MembershipTable";
---
<Layout title="Mes cartes">
  <main class="flex-1 flex flex-col gap-4 items-center p-4 justify-center">
    <section class="w-full max-w-md">
      <h1 class="font-semibold text-2xl text-blue-800 bg-white mb-1">Mes cartes</h1>
      <MembershipTable client:load />
      <p style="margin-top:.75rem">
        <a href="/app/qr" class="rounded-lg border-2 border-blue-900 bg-blue-900 px-4 py-2 text-white transition duration-150 hover:bg-blue-50 hover:text-blue-900">
          Afficher mon QR
        </a>
      </p>
    </section>
  </main>
</Layout>
