---
import Layout from "@layouts/Layout.astro";
import Cart from "../components/cart";
---

<Layout title="Admin - Pins">
  <main class="bg-gray-100 min-h-screen p-8 flex justify-center">
    <Cart client:load />
  </main>
</Layout>
