---
import Layout from "@layouts/Layout.astro";
import CustomPinRequest from "./../components/CustomPinRequest";
---

<Layout title="Admin - Pins">
    <main class="container mx-auto space-y-6 px-2 pt-4">
    <section
      class="mx-auto max-w-5xl space-y-2 rounded-lg border-l-4 border-bleu bg-white px-6 py-3 font-medium shadow-box"

    >
      <h2 class="text-xl">Les demandes de pins personnalisés</h2>
      <p>
        explication
      </p>
      <ol>
        <li>
          - 
        </li>
        <li>- </li>
        <li>- </li>
        <li>- </li>
      </ol>
      
    </section>

    <CustomPinRequest client:load />
  </main>
</Layout>
