---
import Layout from "@layouts/Layout.astro";
import MyOrders from "../components/myorders";
---

<Layout title="Admin - Pins">
  <main class="bg-gray-100 min-h-screen p-8 flex justify-center">
    <MyOrders client:load />
  </main>
</Layout>
