---
import Layout from "@layouts/Layout.astro";
import MemberPins from "../components/pins";
---

<Layout title="Admin - Pins">
  <main class="bg-gray-100 min-h-screen p-8 flex justify-center">
    <MemberPins client:load />
  </main>
</Layout>
