---
import RequestPasswordReset from '../components/RequestPasswordReset';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Réinitialisation du mot de passe">
  <body>
    <h1>Réinitialisation de votre mot de passe...</h1>
    <RequestPasswordReset client:load />
  </body>
</Layout>