---
import ResetPassword from '../components/ResetPassword';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Réinitialisation du mot de passe">
  <main class="container mx-auto space-y-6 px-2 pt-4">
    <ResetPassword client:load />
  </main>
</Layout>