---
import Layout from "@layouts/Layout.astro";
import Pins from "./../../components/admin-pins";
import RequireRole from "@components/RequireRole";
---

<Layout title="Admin - Pins">
  <main class="bg-white min-h-screen p-8 flex justify-center">
    <RequireRole allowedRoles={['admin']} client:load>
    <Pins client:load />
    </RequireRole>
  </main>
</Layout>
