---
import Layout from "@layouts/Layout.astro";
import AdminPrix from "../../components/AdminPrix";
---

<Layout title="Admin - Prix">
  <main class="bg-white min-h-screen p-8 flex justify-center">
    <AdminPrix client:load />
  </main>
</Layout>
