---
import Layout from "@layouts/Layout.astro";
import AdminPrix from "../../components/AdminPrix";
import RequireRole from "@components/RequireRole";
---

<Layout title="Admin - Prix">
  <main class="bg-white min-h-screen p-8 flex justify-center">
    <RequireRole allowedRoles={['admin']} client:load>
      <AdminPrix client:load />
    </RequireRole>
  </main>
</Layout>
