---
import Layout from "@layouts/Layout.astro";
import Orders from "../../components/commandes";
---

<Layout title="Admin - Pins">
  <main class="bg-white min-h-screen p-8 flex justify-center">
    <Orders client:load />
  </main>
</Layout>
