---
import Layout from "@layouts/Layout.astro";
import Orders from "../../components/commandes";
import RequireRole from "@components/RequireRole";
---

<Layout title="Admin - Pins">
  <main class="bg-white p-8 flex justify-center">
    <RequireRole allowedRoles={['admin']} client:load>
      <Orders client:load />
    </RequireRole>
  </main>
</Layout>
