---
import Layout from "@layouts/Layout.astro";
import AdminPenneRequests from "../../components/AdminPenneRequests.tsx";
---

<Layout title="Admin - Pennes">
  <main class="bg-white p-8 flex justify-center">
    <AdminPenneRequests client:load />
  </main>
</Layout>

  </main>
</Layout>
