---
import Layout from "@layouts/Layout.astro";
import AdminCustomPinRequests from "../../components/AdminCustomPinRequest";
---

<Layout title="Admin - Pins">
  <main class="bg-white min-h-screen p-8 flex justify-center">
    <AdminCustomPinRequests client:load />
  </main>
</Layout>
