---
import Layout from "@layouts/Layout.astro";
import AdminCustomPinRequests from "../../components/AdminCustomPinRequest";
import RequireRole from "@components/RequireRole";
---

<Layout title="Admin - Pins">
  <main class="bg-white p-8 flex justify-center">
    <RequireRole allowedRoles={['admin']} client:load>
      <AdminCustomPinRequests client:load />  
    </RequireRole>
  </main>
</Layout>
