---
import Layout from "@layouts/Layout.astro";
import Adminpins from "../../components/stocks";
---

<Layout title="Admin - Pins">
  <main class="bg-white min-h-screen p-8 flex justify-center">
    <Adminpins client:load />
  </main>
</Layout>
