---
import Layout from "../../layouts/Layout.astro";
import AdminUsersTable from "../../components/AdminUsersTable";
import RequireRole from "@components/RequireRole";
---
<Layout title="Gestion des utilisateurs">
  <main class="flex-1 flex flex-col gap-4 items-center p-4 justify-center">
    <RequireRole allowedRoles={['admin']} client:load>
      <h1 class="font-semibold text-2xl text-bleu bg-white mb-1">Gestion des utilisateurs</h1>
      <AdminUsersTable client:load />
    </RequireRole>
  </main>
</Layout>
